body{
    background: url(../images/wallpapersden.com_javascript-programmer_1920x1080.jpg)no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: "poppins", sans-serif;
    font-weight: 400;
}
main{
    background-color: #00000099;
    border-radius: 40px;
    width: 420px;
    height: 700px;
    border: 2px solid #990;
}
header h1{
    color: #aa0;
    text-align: center;
    font-size: 2.4rem;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    height: 560px;
    gap: 1rem;
    align-items: center;

}
nav li{
    list-style: none;
}
nav li a:link,
nav li a:visited{
    background-color: yellow;
    border-radius: 20px;
    display: flex;
    color: #333;
    padding: 10px ;
    text-decoration: none;
    width: 240px;
    transition: background 0.2s ease-in;

}
nav li a i{
    background-color: #000;
    border-radius: 20px;
    color: yellow;
    justify-content: center;
    display: flex;
    font-style: normal;
    height: 24px;
    margin-right: 10px;
    align-items: center;
    width: 24px;
    transition: transform 0.2s 0.2s ease-in;
}
nav li a:hover{
    background-color: #aaa;
}
nav li a:hover i{
    transform: scale(1.2);
}