body{
    background: url(../images/wallpapersden.com_javascript-programmer_1920x1080.jpg)no-repeat center;
    background-size: cover;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: "poppins", sans-serif;
    font-weight: 400;
}
main{
    background-color: #00000099;
    border-radius: 40px;
    width: 420px;
    height: 700px;
    border: 2px solid #990;
}
header h1{
    color: #aa0;
    text-align: center;
    font-size: 2.4rem;
}
h2, h3, h4 {
  text-align: center;
  border-bottom: 2px dotted #ffffff99;
  padding-bottom: 10px;
  margin: 0px 40px;

}
nav{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 560px;
    gap: 1rem;
    align-items: center;

}
nav li{
    list-style: none;
}
nav li a:link,
nav li a:visited{
    background-color: yellow;
    border-radius: 20px;
    display: flex;
    color: #333;
    padding: 10px ;
    text-decoration: none;
    width: 240px;
    transition: background 0.2s ease-in;
   
    }
    header a:link,
    header a:visited{
      color: #aa0;
      display:flex;
      height:40px;
      width: 40px;
      top: 6px;
      transition: all 0.5s ease-in;
      margin-left: 20px;
      left: 6px;
      font: 40px;

}
header a:hover {
  transition: traslate(-5px) ;

}
nav li a i{
    background-color: #000;
    border-radius: 20px;
    color: yellow;
    justify-content: center;
    display: flex;
    font-style: normal;
    height: 24px;
    margin-right: 10px;
    align-items: center;
    width: 24px;
    transition: transform 0.2s 0.2s ease-in;
}
nav li a:hover{
    background-color: #aaa;
}
nav li a:hover i{
    transform: scale(1.2);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ee5858 #34efd9;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #34efd9;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ee5858;
    border-radius: 8px;
    border: 4px double #ffffff;
  }