@import url();
body {
    background: linear-gradient(#8ae1f7, #11677c);
    font-family:  poppins, sans-serif;
    font-weight: 400;
    color: #08313b;
    height: 100vh;

}
main {
    margin: 20px auto;
    width: 380px;
}

main h1 {
    font-weight: 600;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 4px solid #08313b;
}
main nav.menu {
 list-style: none;
}
main nav.menu li a:link,
main nav.menu li a:visited{
 background-color: #08313b;
 display: block;
 color: #8ae1f7;
 margin-bottom: 30px;
 padding: 10px;
 position: relative;
 text-decoration: none;
 text-indent: 40px;
}
main nav.menu li a span {
    background-color: #117c73;
    border-radius: 50%;
    border: 4px solid #121313;
    font-weight: 600;
    display: block;
    padding: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    top: -10px; left: -20px;
    text-indent: 0px;
    transition: all 0.7s ease-in;

}
main nav.menu li a:hover span{
    background-color: #fff;
    color: #121313;
    transform: rotate(360deg);

}